<h1>About</h1>
<p>
This web app is all about food. Good food, great food, and good ol’ fashion cheap food. 
From Perry’s Steakouse to Wendy’s we’ve got you covered on all the details on the hottest spots in the DFW to chow down!</p>
