<h1>StaticPages#contact</h1>
<p>Need to get in contact with the food geniuses behind this site?
Check us out @foodiefun321
<img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-128.png” border=“0” class=“with: 20px;” alt=“kik”"/>

</p>
